<ul class="nav-second">
    <li><span class="nav-category">Genre</span></li>
    <li><a tabindex="1" href="/">Allt</a></li>
    <li><a class="category-filter" tabindex="1" title="Nyheter">Nyheter</a></li>
    <li><a class="category-filter" tabindex="1" title="Barn">Barn</a></li>
    <li><a class="category-filter" tabindex="1" title="Reality">Reality</a></li>
    <li><a class="category-filter" tabindex="1" title="Sport">Sport</a></li>
    <li><a class="category-filter" tabindex="1" title="TV-Serie">Serier</a></li>
    <li><a class="category-filter" tabindex="1" title="Film">Film</a></li>
    <li><a class="category-filter" tabindex="1" title="Kultur">Kultur</a></li>
    <li><a class="category-filter" tabindex="1" title="Dokumentär">Dokumentär</a></li>
</ul>