<nav id="sub-nav">
    <div id="sub-nav-content">
        <label for="show-calendar" class="show-calendar"> På TV</label>
        <input type="checkbox" id="show-calendar" role="button">
        <ul id="nav-second-calendar" class="nav-second-caledar">
            <li><span class="nav-category">På TV</span></li>
            <li><a class="calendar-filter" tabindex="1" title="Idag">Idag</a></li>
            <li><a class="calendar-filter" tabindex="1" title="Imorgon">Imorgon</a></li>
            <li><a class="calendar-filter" tabindex="1" title="Lördag">Lördag</a></li>
            <li><a class="calendar-filter" tabindex="1" title="Söndag">Söndag</a></li>
            <li><a class="calendar-filter" tabindex="1" title="Måndag">Måndag</a></li>
            <li><a class="calendar-filter" tabindex="1" title="Tisdag">Tisdag</a></li>
            <li><a class="calendar-filter" tabindex="1" title="Onsdag">Onsdag</a></li>
        </ul>
        <div id="genres">
            <label for="show-genre" class="show-genre"> Genre</label>
            <input type="checkbox" id="show-genre" role="button">
            <ul id="nav-second" class="nav-second">
                <li><span class="nav-category">Genre</span></li>
                <li><a tabindex="1" href="/">Allt</a></li>
                <li><a class="category-filter" tabindex="1" title="Nyheter">Nyheter</a></li>
                <li><a class="category-filter" tabindex="1" title="Barn">Barn</a></li>
                <li><a class="category-filter" tabindex="1" title="Reality">Reality</a></li>
                <li><a class="category-filter" tabindex="1" title="Sport">Sport</a></li>
                <li><a class="category-filter" tabindex="1" title="TV-Serie">Serier</a></li>
                <li><a class="category-filter" tabindex="1" title="Film">Film</a></li>
                <li><a class="category-filter" tabindex="1" title="Kultur">Kultur</a></li>
                <li><a class="category-filter" tabindex="1" title="Dokumentär">Dokumentär</a></li>
            </ul>
        </div>
    </div>
</nav>

