@model IEnumerable<DagensTV.Models.Channel>

@{
    ViewBag.Title = "Min Sida";
}

<div class="col-md-2 col-md-10">
    <h1>Mina kanaler</h1>
</div><br/>
<hr/><br/>

@if (Model != null)
{
    foreach (var channel in Model)
    {
        <section class="my-channelList">
            <ul>
                <li>
                    @using (Html.BeginForm())
                    {
                        @Html.CheckBoxFor(x => channel.MyPage)
                        <img src="../@channel.LogoFilePath" class="channel" title="@channel.Name" alt="@channel.Name"><span id="channel-name"> @channel.Name</span>
                    }
                </li>
            </ul>
        </section>
        }
}
        