@model IEnumerable<DagensTV.Models.Channel>

@{
    ViewBag.Title = "Min Sida";
}

<div class="col-md-2">
    <h1>Mina kanaler</h1> 
</div>
<br/>
<div class="form-group">
    <div class="col-md-4">
        <input type="submit" value="Spara inställningar" class="btn btn-success" />
    </div>
</div><br />
<hr/><br/>


@if (Model != null)
{
        foreach (var channel in Model)
        {
        @Html.CheckBoxFor(m => channel.MyPage)
        <section class="my-channeList">
            <ul>
                <li>
                    <img src="../@channel.LogoFilePath" class="channel" title="@channel.Name" alt="@channel.Name">
                </li>
            </ul>
        </section>
    }

}

