@model IEnumerable<DagensTV.Models.Channel>

@{
    ViewBag.Title = "Min Sida";
}

<div class="col-md-2 col-md-10">
    <h1>Mina kanaler</h1>
</div><br/>
<hr/><br/>

@if (Model != null)
{
        foreach (var channel in Model)
        {
        @Html.CheckBox("MyPage", false)
        <section class="my-channeList">
            <ul>
                <li>
                    <img src="@channel.LogoFilePath" class="channel" title="@channel.Name" alt="@channel.Name">
                </li>
            </ul>
        </section>
        }
}
